.text {
    animation-name: slide-right;
    animation-duration: 2s;
    animation-fill-mode: none;
}

.caption {
    visibility: hidden;
    animation-delay: 2s;
    animation-name: slide-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.captionToo {
    visibility: hidden;
    animation-delay: 4s;
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.cover {
    height: auto;
    width: 100%;
/*    visibility: hidden;
    animation-delay: 2s;
    animation-name: slide-up-books;
    animation-duration: 2s;
    animation-fill-mode: forwards;*/
}

.book1 {
    visibility: hidden;
    animation-delay: 2s;
    animation-name: slide-up-books;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.book2 {
    visibility: hidden;
    animation-delay: 2.25s;
    animation-name: slide-up-books;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.book3 {
    visibility: hidden;
    animation-delay: 2.5s;
    animation-name: slide-up-books;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes slide-right {
    from {
        margin-left: -100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes slide-up-books {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0);
        visibility: visible;
    }
}